* {
    margin: 0;
    padding: 0;
}

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-grayish-blue);
    color: var(--Light-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 1200px;

    font-family: 'Barlow Semi Condensed';
    font-size: 13px;

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 20px;
}

main>div {
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main>div:first-child {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-color: var(--Moderate-violet);

    grid-column: span 2;
}

main>div:nth-child(2) {
    background-color: var(--Very-dark-grayish-blue);
}

main>div:nth-child(4) {
    background-color: var(--Very-dark-blackish-blue);
    grid-column: span 2;
}

main>div:last-child {
    grid-area: 1 / -2 / -1 / -1;
}

img {
    border-radius: 100%;

    height: 35px;
}

main>div:first-child img {
    border: solid hsl(263, 55%, 60%);
}

main>div:nth-child(4) img {
    border: solid var(--Moderate-violet);

}

p {
    opacity: 70%;
    line-height: 1.4em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    opacity: 50%;
    font-size: 1em;
}

main>div>div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.wbg {
    background-color: var(--White);
    color: var(--Very-dark-grayish-blue);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin: 10px 0;
    color: var(--Very-dark-grayish-blue);
}
